@import "compass/reset";
body {
    background: #480532;
}
   
header {
    background: #F3C7C9;
    .top-svgs {
        position: absolute;
        top: -100px;
        z-index:1000;
    }
    .static {
        position:relative;
        top:-100px;
        z-index:0;
    }
}
.main {
    top:-105px;
    position:relative;
    background:#480532;
    min-height: 2000px;
    z-index:2000;

}
